a,
input,
button {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.app {
  width: "100%";
  height: "100%";
  background-position: "center";
  background-size: "cover";
  background-repeat: "repeat";
  border: "1px solid red";
}
main {
  min-height: 80vh;
  height: auto;
  display: block;
}
